name: test
on:
  - workflow_call
jobs:
  run:
    strategy:
      matrix:
        os: ['ubuntu-latest']
        node-version: [14.x, 16.x]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup
        with:
          node-version: ${{matrix.node-version}}
      - run: pnpm build
      - run: pnpm test
